.paginator{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.default{
    border: 1px solid #b0b0b0;
    border-radius: 50px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.currentPage {
    font-weight: bold;
    font-size: larger;
    border-radius: 50px;
    background-color: lightslategray;
    color: white;
}
.button{
    background-color: #0077B5;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 8px 4px;
    border: none;
    width: 50px;
    font-family: "Montserrat";
    transition-duration: 0.5s;
}
.btnUsersFilter:hover{
    opacity: 0.8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}