.sidebar {
    grid-area: n;
    background-color: #f3f4d4;
    padding: 20px;

}


.item {
    padding: 5px;

    color: black;
    text-decoration: none;
}

.activeLink {
    padding: 5px;

    color: #5583e6;
    text-decoration: none;
}
